/*inicio encabezado*/
#encabezado{
    height: 150px;
    width: 100%;
    background-color: aquamarine;
    
}
#logo{
    width: 150px;
    height: 150px;
    float: left;
    background-color: dodgerblue;
}
#nombreCafe{
    height: 150px;
    background-color: forestgreen;
}
/*inicio cuerpoMenu*/
#cuerpoMenu{
    height: 500px;
    width: 92%;
    padding: 4%;
    background-color: bisque;
}
#categoriasMenu{
    width: 150px;
    height: 100%;
    background-color: gray;
}

/* inicio cuerpoImg*/
#cuerpoImg{
    height: 200px;
    background-color: cadetblue;
}
/*inicio pie*/
#pie{
    height: 100px;
    background-color: deepskyblue;
}