body{
    width: 75%;
    margin-left: 15%;
    margin-top: 0%;
}
/*inicio encabezado*/
#encabezado{
    height: 150px;
    width: 100%;
    margin: 0%;
    display: inline-flex;
}
#logo{
    width: 25%;
    height: 100%;
    margin: 0px;
}
#oso{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin-right: 20px;
    float: right;
}
.nombreCafe{
    height: 100%;
    width: 75%;
    margin: 0%;
    padding-top: 20px;
    text-decoration: none;
    color: black;
}
#nombre{
    height: 150px;
    padding-left: 10%;
    font-family: 'Cormorant', serif;
    font-family: 'Estonia', cursive;
    margin: 0%;
    font-size: 75px;
    display: inline-flex;
}
/*inicio cuerpo*/
.categoria{
    height: 30px;
    width: 100%;
    background-color: darkgray;
    border-radius: 10px;
}
.titulo{
    margin: 0px 0px 0px 20px;
    font-family: serif;
}
.seccionesGaleria{
    height: auto;
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
}
.imagen{
    height: 250px;
    width: 250px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 5px;
}
.espacioImagenes{
    display: flex;
}
/*inicio pie*/
#pie{
    height: 100px;
    background-color: darkgrey;
    border: black;
    border-radius: 5px;
}